/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: keep-all;
    font-size: 145%;
    font-weight: bold;
    width: 50000px;
    height: 150px;
    font-style: oblique;
    text-shadow: gold 10px 10px 7px;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 150px 30px;
    border-bottom-right-radius: 150px 30px;
    background-image: url(https://i.pinimg.com/originals/d5/20/48/d520485b5b9d17473427339a451d5827.jpg);
    cursor: text;
    box-shadow: 8px 8px 10px 5px gray;
}

/* Provide sufficient contrast against white background */
a {
    color: blueviolet;
}

.btn-primary {
    color: black;
    background-color: red;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
   
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url(https://gif-kartinki.ru/fony/fony_04.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 100%;
    font-weight: bold;
    cursor: grabbing;
    
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
